## Core tex auxiliary files:
*.aux
*.log
*.toc
*~

## Documents:
spacetime.pdf
*.pdf

## 'auto' folder when using emacs and auctex
auto/*
*.el

appearance/*.aux
appearance/*~
appearance/auto/*

text/*.aux
text/*.log
text/*~
text/auto/*

